body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    
    height: 100%;
    width: 100%;
    overflow-x: auto;
    background-image: url("../assets/estrada-branca.png");
}

.banner{
    color: white;
    background-color: #023867;
   
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse{
	color: white;
    background-color: #023867;
    padding: 20px;
    margin-bottom: 20px;
}

.menu-usuario {
    font-size: 15px;
    
}

h2 {
    text-align: center;
}



#submit {
    width: 50%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot, .register {
    text-decoration: none;
    cursor: pointer;

}

button:hover {
    background-color: #003d82;
}
